.news {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.newstop h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 60px;
    margin-left: 60px;
}

.newsmid {
    text-align: center;
}

.newsmid h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 100px;
    margin-left: 60px;
    margin-top: -20px;
}

.newsmid h2 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: lighter;
    font-size: 30px;
    margin-left: 60px;
    color: #7b7b7b;
    margin-top: -20px;
}

.newsbot {
    display: flex;
    justify-content: center;
    text-align: center;
    gap: 10px;
}

.newsbot1,
.newsbot2,
.newsbot3 {
    background-color: rgb(211, 226, 246);
    border: solid 1px rgb(148, 209, 255);
    border-radius: 40px;
    height: 350px;
    width: 300px;
}

.newsbot1:hover,
.newsbot2:hover,
.newsbot3:hover {
    background-color: rgb(138, 189, 255);
    border: solid 1px rgb(148, 209, 255);
    border-radius: 40px;
    transition: all .2s ease-in .2s;
    transform: scale(1.05);
}


.newsbot1 h1,
.newsbot2 h1,
.newsbot3 h1 {
    font-size: 60px;

}


.newsbot1 h2,
.newsbot2 h2,
.newsbot3 h2 {
    font-size: 20px;
    color: #000000;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: -30px;
}

.newsbot1 h3,
.newsbot2 h3,
.newsbot3 h3 {
    font-size: 19px;
    color: #7e7e7e;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/*
 <div class="gallery">
                <div class="gallerytext">
                        <h1>Gallery</h1>
                </div>
                <div class="gallerypics">
                        <div class="gallpictop">
                                <div class="gal1"><img src="galle1.png"></div>
                                <div class="gal2"><img src="galle2.png"></div>
                                <div class="gal3"><img src="galle3.png"></div>
                        </div>
                        <div class="gallpicbot">
                                <div class="gal4"><img src="galle4.png"></div>
                                <div class="gal5"><img src="galle5.png"></div>
                                <div class="gal6"><img src="galle6.png"></div>
                        </div>
                </div>
        </div>
*/

.gallery {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.gallerytext {
    display: flex;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: 30px;
}

.gallerytext h1 {
    font-size: 110px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: lighter;
}

.gallerypics {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gallpictop {
    display: flex;
    justify-content: center;
    gap: 30px;
}

.gallpicbot {
    display: flex;
    justify-content: center;
    gap: 30px;
}

