
.contacts {
    display: flex;
    gap: 140px;
    padding-left: 80px;
    padding-right: 80px;
}

.contactleft {
    margin-top: 120px;
    display: flex;
    flex-direction: column;
    width: 40%;
}



.conphone,
.adress,
.email,
.followus {
    display: flex;
    gap: 15px;
}

.contactright {
    display: flex;
    flex-direction: column;
    width: 60%;
    height: 700px;
    margin-top: -90px;
}

.contactright h1 {
    padding-left: 200px;
    padding-top: 70px;
    font-size: 80px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: lighter;
}

.contactin {
    display: flex;
    flex-direction: column;
    margin-top: -20px;
    margin-left: 100px;
}

.contactnamein,
.contactemailin,
.contactmessagein {
    font-size: 35px;
    border: solid 2px black;
    height: 90px;
    width:800px;
    padding-top: 30px;
    padding-left: 20px;
}

.contactnamein input,
.contactemailin input,
.contactmessagein input {
    height: 40px;
    border: transparent;
}

.conphoneleft h1, 
.adressleft h1, 
.emailleft h1, 
.followusleft h1 {
    font-size: 50px;
    color: #717171; 
    font-family: serif;
}

.conphoneright h2, 
.adressright h2, 
.emailright h2, 
.followright h2 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 5px;
}

.conphoneright h3, 
.adressright h3, 
.emailright h3, 
.followright h3 {
    font-size: 18px;
    font-weight: 400;
    color: #333;
}

.followright h3{
    font-size: 80px;
    margin-top: -12px;
}